<h1>Edit: <%= post.title %>
</h1>
<form method="POST" action="/admin/posts/<%= post.id %>?_method=PUT">
    <label>Title <input name="title" value="<%= post.title %>" required></label><br>
    <label>Slug <input name="slug" value="<%= post.slug %>" required></label><br>
    <label>Published <input type="checkbox" name="published" <%=post.published ? 'checked' : '' %>></label><br>
    <label>Content<br>
        <textarea name="content" rows="12"><%= post.content %></textarea>
    </label><br>
    <button type="submit">Save</button>
</form>